@using System.Reflection;
@using UISupportBlazor
@using UISupportGeneric;
@using UISupportGeneric.UI;
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CloudSubscription</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
    @{
        if (!UISupportBlazor.Session.IsConfigured)
            UISupportBlazor.Session.Configure(HttpContextAccessor);
        var panels = UISupportBlazor.Support.GetAllClassInfo();
        var session = UISupportBlazor.Session.Current();
        if (session?.Values.ContainsKey("BaseUrl") == false)
        {
            var uri = new Uri(Navigation.Uri);
            var baseUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
            session.Values.Add("BaseUrl", baseUrl);
        }
    }
    @* Component to add for dynamic rendering of AI-generated content *@
    <UISupportBlazor.Menu ClassInfoEnumerable="@panels"></UISupportBlazor.Menu>
</div>

