@page "/Cancel"
@using System.Diagnostics

<PageTitle>Operation cancelled</PageTitle>

<h1 class="text-danger">Operation cancelled</h1>
<h2 class="text-danger">Payment has been cancelled.</h2>

<p>
    Dear Customer,

    We noticed that your payment for our cloud service subscription was not completed. If this was an error, we encourage you to try again to ensure immediate access to our services and all the benefits of our platform.

    If you encountered any issues during the payment process, our support team is here to help. Please don’t hesitate to reach out, and we’ll be happy to assist you.

    Thank you for your trust!

    Best regards, Customer Service
</p>
